/**--- Base Page Styles ---**/

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

html{
	font-size: 100%;
}

body{
	color: #3a3a3a;
	min-width: 320px;
	background-color: white;
	// background-image: url('../../img/bg-texture.png');
	// background-repeat: repeat;

	font-family: "chaparral-pro", serif;
	font-size: 1.25rem;//20px
	line-height: 1.65//26px
}

/* Typography */

h1{
	font-size: 3.998rem;//63px
	line-height: 4.32rem;//69px
	font-weight: 700;
	letter-spacing: 0.09rem;
}

h2{
	font-size: 2.827rem;//45px
	font-weight: 600;
	letter-spacing: .03rem;
}

h3{
	font-size: 1.999rem;//31px
	line-height: 2.35rem;//37px
	font-weight: 600;
}

h4{
	font-size: 1.414rem;//22px
}

p{
	font-size: $base-font; 
	line-height: $base-line; 
	letter-spacing: 0.017rem;
}

a{
	color: $black; 
	text-decoration: none;
}

time{
	color: #A2A2A2;
}