/**--- Base Page Styles ---**/

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

html{
	font-size: 100%;
}

body{
	color: #3a3a3a;
	font-family: "chaparral-pro", serif;
	background-image: url('../../img/bg-texture.png');
	background-repeat: repeat;
	min-width: 320px;
}

h1{
	font-size: 3.875rem; //62px
	font-style: normal;
	font-weight: 700;
}

h2{
	font-size: 2rem; //32px
	line-height: 2.625rem;//42px
	font-style: normal;
	font-weight: 700;
}

p{
	font-size: 1.5rem; //24px
	line-height: 2rem; //32px
}

a{
	color: #3a3a3a; 
	text-decoration: none;
	&:hover{
		color: #53B5D5;
	}
}

time{
	color: #A2A2A2;
}