/**---Blog Post Module---**/

article{
	margin-bottom: 80px;
	padding-bottom: 10px;
	&:last-child{
		border-bottom: none;
	}
	&.blog-post{
		padding-left: 40px;
		border-left: 3px solid #f26b61;
	}
	header{
		margin-top: 55px;
		margin-bottom: 35px;
	}
	h1{
		margin-bottom: 30px;
		a:hover{
			color: #3a3a3a;
		}
	}
	h2{
		margin-bottom: 30px;
	}
	p{
		margin-bottom: 35px;
	}
	img{
		width: 100%;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
}


.article-date{
	font-size: 1.3rem; //20px
	font-style: normal;
	font-weight: 500;
	display: block;
	margin-bottom: 55px;
}

article .article-img{
	margin-bottom: 30px;
}

