/**---Archived Posts Link Module---**/

.view-archived-posts{
	text-align: right;
	margin-bottom: 35px;
	a{
		font-size: 1.5rem; //24px
		&:hover{
			border-bottom: 2px solid rgba(233, 168, 1, 0.68);
			padding-bottom: 3px;
		}
	}
}

