/**---Archived Posts Link Module---**/

.view-archived-posts{
	text-align: right;
	margin-bottom: 2.188rem;//35px
	a{
		font-size: $base-font;
		&:hover{
			border-bottom: 2px solid $orange;
			padding-bottom: 3px;
		}
	}
}

