/**--- Post Archive ---**/

.post-archive{
	.post-archive-unit{
		border-bottom: 1px solid #D0D2D4;;
		margin-bottom: 35px;
		padding-bottom: 35px;
		.post-archive-date{
			font-size: 1.3rem; //20px
			line-height: 2.125rem; //34px
		}
		.post-archive-link{
			display: block;
			font-size: 2rem; //32px
			line-height: 2.625rem; //42px
		}
		a{
			font-weight: 600;
			&:hover{
				color: $orange;
			}
		}
		&:last-of-type{
			border-bottom: none;
			margin-bottom: 0;
		}
	}

}

