/**--- Page Navigation ---**/
.site-header{
	width: 100%;
	height: 100px;
	margin-bottom: 100px;
}

.nav-logo{
	width: 13%;
	max-height: 120px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 25px;
}

.site-navigation{
	padding: 70px 0;
}

.site-navigation ul{
	list-style: none;
	text-align: center;
	font-size: 1.5rem; //24px
	font-style: normal;
	font-weight: 700;
		li{
			display: inline-block;
			a{
				text-decoration: none;
				padding: 35px;
				&:hover{
					color: $orange;
				}
			}
			&.nav-link-left{
				padding-right: 70px;
			}
			&.nav-link-right{
				padding-left: 70px;
			}
		}
}
		


