/**--- Media Queries ---**/

@media (max-width: 790px) {

/* Header */

	.site-header{
		margin-bottom: 0;
	}

	.site-navigation{
		padding: 0;
		ul{
			font-size: 1.4rem;
			padding-top: 50px;
			float: right;
			li a{
				padding: 0px;
				padding-left: 75px;
				&.last-child{
					padding-right: 0;
				}
			}
		}
	}

	.nav-logo{
		position: relative;
		float: left;
	}

	.site-navigation ul li.nav-link-right{
		padding-left: 0;
	}

	.site-navigation ul li.nav-link-left{
		padding-right: 0;
	}
}

@media (max-width: 728px) {
	.site-navigation ul{ 
		padding-top: 40px;
		li a{
		padding-left: 60px;
		&.last-child{
					padding-right: 0;
				}
		}
	}
}

@media (max-width: 643px) {
	.site-navigation ul{ 
		li a{
		padding-left: 40px;
		&.last-child{
					padding-right: 0;
				}
		}
	}
}

@media (max-width: 538px) {
	.site-navigation ul{ 
		font-size: 1.3rem;
		li a{
		padding-left: 30px;
		}
	}
}

@media (max-width: 538px) {
	.site-navigation ul{ 
		font-size: 1.2rem;
		li a{
		padding-left: 30px;
		}
	}
}