/**--- Media Queries ---**/

@media (max-width: 790px) {

	/* Header */
	.site-header{
		margin: 0 auto;
	}

	.nav-logo{
		position: relative;
		float: left;
		height: 75px;
		top: 0;
	}

	.site-navigation ul{
		padding-top: 0;
		padding-bottom: 0;
	}

	.site-navigation ul li.nav-link-right{
		padding-left: 0;
	}

	.site-navigation ul li.nav-link-left{
		padding-right: 0;
	}
}